.headerNav{
    height: 84px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    width: 100%;
    
}

.nav a{
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-size: 17px;
}

.nav a:hover{
    color: rgb(200, 236, 69);
    
}